<div class="deckster-card-inner">
    <div class="deckster-card-header">
        <div class="deckster-card-title">{{card.getTitle()}}</div>
        <div class="deckster-card-controls">
            <span class="deckster-card-control glyphicon glyphicon-refresh" ng-click="reloadCard()"></span>
            <span class="deckster-card-control glyphicon" ng-class="{'glyphicon-resize-full': !expanded, 'glyphicon-resize-small': expanded}" ng-click="expandCard(); toggleView()"></span>
            <a class="deckster-card-control thin glyphicon glyphicon-new-window" ng-href="{{card.getPopoutUrl()}}" ng-if="hasPopout()"></a>
        </div>
    </div>
    <div class="deckster-content">
        <div class="deckster-summary" ng-show="currentView === 'summary'"></div>
        <div class="deckster-detail" ng-show="currentView === 'details'"></div>
    </div>
</div>